<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
      <nav class="left-nav">
        <div class="left-top">
          <a href="/manage">回到首页</a>
          <a href="/manageroom">管理客房</a>
          <a href="/searchcus">查询会员</a>
          <a href="/#">登记入住</a>
          <a href="/bookroom">预订客房</a>
          <a href="/checkout">登记退房</a>
          <a href="/balance">盘点结算</a>
        </div>
        <div class="left-bottom">
          <a href="/finance">生成财务报表</a>
        </div>
      </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
              <div class="ui grid">
                      <div class="four wide column"></div>
                      <div class="eight wide column">
                        <form class="ui form segment" method="post">
                          <div class="field required">
                            <label>身份证号</label>
                            <input placeholder="身份证号" type="text" name="idcard">
                          </div>
                          <input type="submit" class="ui button fluid" value="查找">
                          <div class="field required">
                              <label>姓名</label>
                              <input placeholder="姓名" type="text" name="name">
                            </div>
                            <div class="field required">
                                <label>电话</label>
                                <input placeholder="电话" type="text" name="phone">
                              </div>
                            <div class="field required">
                              <label>房间类型</label>
                              <input placeholder="房间类型" type="text" name="roomtype">
                            </div>
                            <div class="field required">
                                <label>入住时间</label>
                                <input placeholder="入住时间" type="text" name="starttime">
                              </div>
                              <div class="field required">
                                  <label>退房时间</label>
                                  <input placeholder="退房时间" type="text" name="endtime">
                                </div>
                          <input type="submit" class="ui button fluid" value="获取房间号">
                        </form>  
                      </div>
                    </div>
            </div>
    <!--   左侧边样 start  -->
        <div class="left-side">
          <div class="left-aside">
            <div class="left-img">
            </div>
           </div>
        </div>
    <!--  左侧边栏 end  -->
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>