<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <%- include('left-nav') %>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
          <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                <form class="ui form segment" method="post">
                  <input type="submit" class="ui button fluid" value="结算当日信息">
                </form>  
              </div>
            </div>
    </div>
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>
