<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
      <nav class="left-nav">
        <div class="left-top">
            <a href="/manage" >
              <div class="link">
                  <div class="icon_pic"><img src="/img/return.png" width="38" height="38" /></div>
                  <p>回到首页</p>
              </div>
            </a>
            <a href="/manageroom">
              <div class="link">
                  <div class="icon_pic"><img src="/img/manage.png" width="38" height="38" /></div>
                  <p>管理客房</p>
              </div>
            </a>
            <a href="/searchcus">
              <div class="link">
                  <div class="icon_pic"><img src="/img/cus_info.png" width="38" height="38" /></div>
                  <p>查询会员</p>
              </div>
            </a>
            <a href="/checkin">
              <div class="link">
                  <div class="icon_pic"><img src="/img/dengji.png" width="38" height="38" /></div>
                  <p>登记入住</p>
              </div>
            </a>
            <a href="/bookroom">
              <div class="link">
                  <div class="icon_pic"><img src="/img/yuding.png" width="38" height="38" /></div>
                  <p>预定客房</p>
              </div>
            </a>
            <a href="/checkout">
              <div class="link">
                  <div class="icon_pic"><img src="/img/tuifang.png" width="38" height="38" /></div>
                  <p>登记退房</p>
              </div>
            </a>
            <a href="/balance">
              <div class="link">
                  <div class="icon_pic"><img src="/img/pandian.png" width="38" height="38" /></div>
                  <p>盘点结算</p>
              </div>
            </a>
            <a href="/finance">
              <div class="link">
                  <div class="icon_pic"><img src="/img/money.png" width="38" height="38" /></div>
                  <p>生成报表</p>
              </div>
            </a>
        </div>
      </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
          <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                <form class="ui form segment" method="post">
                  <div class="field required">
                    <label>身份证号</label>
                    <input placeholder="身份证号" type="text" name="idcard">
                  </div>
                  <div class="field required">
                      <label>姓名</label>
                      <input placeholder="姓名" type="text" name="name">
                    </div>
                    <div class="field required">
                        <label>积分</label>
                        <input placeholder="积分" type="text" name="score">
                      </div>
                    <div class="field required">
                        <label>电话</label>
                        <input placeholder="电话" type="text" name="phone">
                      </div>
                    <div class="field required">
                      <label>房间类型</label>
                      <input placeholder="房间类型" type="text" name="roomtype">
                    </div>
                    <div class="field required">
                        <label>入住时间</label>
                        <input placeholder="入住时间" type="text" name="starttime">
                      </div>
                      <div class="field required">
                          <label>退房时间</label>
                          <input placeholder="退房时间" type="text" name="endtime">
                        </div>
                  <input type="submit" class="ui button fluid" value="预订房间">
                </form>  
              </div>
            </div>
    </div>
    <!--   左侧边样 start  -->
        <div class="left-side">
          <div class="left-aside">
            <div class="left-img">
            </div>
           </div>
        </div>
    <!--  左侧边栏 end  -->
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>
