<script type="text/javascript">
    $(function () {
            $("input[type='submit']").click(function () {
                var text = $(this).val();
                //提供一个url，后台通过这个地址进行操作
                if (text == "查询会员") {
                    $("#myFrm").attr("action", "/bookroom");
                }
                else if (text == "预订房间") {
                    $("#myFrm").attr("action", "/bookroom/getcustomer");
                }
            })
        })
    $(document).ready(function () {
       // 点击按钮弹出下拉框
       $('.ui.dropdown').dropdown();
       
       // 鼠标悬浮在头像上，弹出气泡提示框
       $('.post-content .avatar-link').popup({
         inline: true,
         position: 'bottom right',
         lastResort: 'bottom right'
       });
     })
   </script>
   </body>
 </html>
