<nav class="left-nav">
    <div class="left-top">
        <a href="/manage" >
          <div class="link">
              <div class="icon_pic"><img src="/img/return.png" width="38" height="38" /></div>
              <p>回到首页</p>
          </div>
        </a>
        <a href="/manageroom">
          <div class="link">
              <div class="icon_pic"><img src="/img/manage.png" width="38" height="38" /></div>
              <p>管理客房</p>
          </div>
        </a>
        <a href="/searchcus">
          <div class="link">
              <div class="icon_pic"><img src="/img/cus_info.png" width="38" height="38" /></div>
              <p>查询会员</p>
          </div>
        </a>
        <a href="/checkin">
          <div class="link">
              <div class="icon_pic"><img src="/img/dengji.png" width="38" height="38" /></div>
              <p>登记入住</p>
          </div>
        </a>
        <a href="/bookroom">
          <div class="link">
              <div class="icon_pic"><img src="/img/yuding.png" width="38" height="38" /></div>
              <p>预定客房</p>
          </div>
        </a>
        <a href="/checkout">
          <div class="link">
              <div class="icon_pic"><img src="/img/tuifang.png" width="38" height="38" /></div>
              <p>登记退房</p>
          </div>
        </a>
        <a href="/balance">
          <div class="link">
              <div class="icon_pic"><img src="/img/pandian.png" width="38" height="38" /></div>
              <p>盘点结算</p>
          </div>
        </a>
        <a href="/finance">
          <div class="link">
              <div class="icon_pic"><img src="/img/money.png" width="38" height="38" /></div>
              <p>生成报表</p>
          </div>
        </a>
    </div>
  </nav>