<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <nav class="left-nav">
      <div class="left-top">
        <a href="/manage">回到首页</a>
        <a href="/#">管理客房</a>
        <a href="/searchcus">查询会员</a>
        <a href="/checkin">登记入住</a>
        <a href="/bookroom">预订客房</a>
        <a href="/checkout">登记退房</a>
        <a href="/balance">盘点结算</a>
      </div>
      <div class="left-bottom">
        <a href="/finance">生成财务报表</a>
      </div>
    </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
<<<<<<< HEAD
            <div class="ui grid">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                      <form class="ui form segment" method="post" id = "myFrm">
                        <div class="field required">
                          <label>房间号</label>
                          <input placeholder="房间号" type="text" name="roomnumber">
                        </div>
                        <div class="field required">
                            <label>房间类型</label>
                            <select name="roomtype">
                              <option value ="大床房">大床房</option>
                              <option value ="单人房">单人房</option>
                              <option value="双床房">双床房</option>
                            </select>
                          </div>
                          <div class="field required">
                            <label>房间价格</label>
                            <input placeholder="房间价格" type="text" name="roomvalue">
                          </div>
                          <div class="field required">
                              <label>管理员码</label>
                              <input placeholder="管理员码" type="password" name="mapassword">
                            </div>
                        <input type="submit" class="ui button fluid" value="添加"><br/>
                        <input type="submit" class="ui button fluid" value="修改"><br/>
                        <input type="submit" class="ui button fluid" value="删除">
                      </form>  
                    </div>
                  </div>
          </div>
    <!--   左侧边样 start  -->
        <div class="left-side">
          <div class="left-aside">
            <div class="left-img">
            </div>
           </div>
        </div>
    <!--  左侧边栏 end  -->
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footermr') %>
=======
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="eight wide column">
            <div class="manage_room"><ul>
              <li><a href="/addroom"><h2>添加客房</h1></a></li>
              <li><a href="/deleteroom"><h2>删除客房</h1></a></li>
              <li><a href="/changemoney"><h2>调整房价</h1></a></li>
            </ul></div>
          </div>
        </div>
      </div>
    <div class="blank"></div>
    <div class="pic"><h2>酒店房间占用情况图</h2>
      <!--   最好能用循环，暂时没解决-->
      <div class="pic-inline">
        <div class="div-inline" id="id1"></div>
        <div class="div-inline" id="id2"></div>
        <div class="div-inline" id="id3"></div>
        <div class="div-inline" id="id4"></div>
        <div class="div-inline" id="id5"></div>
        <div class="div-inline" id="id6"></div>
        <div class="div-inline" id="id7"></div>
        <div class="div-inline" id="id8"></div>
        <div class="div-inline" id="id9"></div>
        <div class="div-inline" id="id10"></div>
        <div class="div-inline" id="id11"></div>
        <div class="div-inline" id="id12"></div>
        <div class="div-inline" id="id13"></div>
        <div class="div-inline" id="id14"></div>
        <div class="div-inline" id="id15"></div>
        <div class="div-inline" id="id16"></div>
        <div class="div-inline" id="id17"></div>
        <div class="div-inline" id="id18"></div>
      </div>
</div>
<%- include('footermr') %>


>>>>>>> 4b3767a783f70ff99a6437c515d4af7e2c001dcf
