<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
      <nav class="left-nav">
        <div class="left-top">
          <a href="#">X</a>
          <a href="#">X</a>
          <a href="#">X</a>
        </div>
        <div class="left-bottom">
          <a href="#">A</a>
          <a href="#">B</a>
        </div>
      </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
    <!--   左侧边样 start  -->
        <div class="left-side">
          <div class="left-aside">
            <div class="left-img">
            </div>
           </div>
        </div>
    <!--  左侧边栏 end  -->
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>


