<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <%- include('left-nav') %>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="caozuo"><h2>重置客房</h2></div>
            <div class="content">
              <form class="ui form segment" method="post" id = "myFrm">
              <div class="field required">
                <label>管理员码</label>
                <input placeholder="管理员码" type="password" name="mapassword">
              </div>
              <input type="submit" class="ui button fluid" value="重置客房">
            </form>
          </div>
        </div>

    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footermr') %>
