<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
      <nav class="left-nav">
        <div class="left-top-img"></div>
        <div class="left-top">
          <a href="/manage">回到首页</a>
          <a href="/searchroom">查询客房</a>
          <a href="/addroom">添加客房</a>
          <a href="#">查询会员</a>
          <a href="/addcus">添加会员</a>
          <a href="#">登记入住</a>
          <a href="#">预订客房</a>
          <a href="#">登记退房</a>
        </div>
        <div class="left-bottom">
          <a href="#">生成财务报表</a>
        </div>
      </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
            <div class="ui grid">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                      <form class="ui form segment" method="post">
                        <div class="field required">
                            <label>身份证号</label>
                            <input placeholder="身份证号" type="text" name="id">
                          </div>
                        <input type="submit" class="ui button fluid" value="查询">
                      </form>  
                    </div>
                  </div>
          </div>
    <!--   左侧边样 start  -->
        <div class="left-side">
          <div class="left-aside">
            <div class="left-img">
            </div>
           </div>
        </div>
    <!--  左侧边栏 end  -->
    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-2">
                  <div class="result">查询结果</div>
                  <table id="searchcus">
                  <tr>
                    <td>姓名</td>
                    <td>身份证号</td>
                    <td>会员号</td>
                    <td>联系电话</td>
                    <td>积分</td>
                  </tr>
                  <tr class="alt">
                      <td></td>
                      <td>显示上面输入的身份证号</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>
