<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
      <nav class="left-nav">
        <div class="left-top-img"></div>
        <div class="left-top">
          <a href="/manage">回到首页</a>
          <a href="#">查询客房</a>
          <a href="/addroom">添加客房</a>
          <a href="/searchcus">查询会员</a>
          <a href="/addcus">添加会员</a>
          <a href="#">登记入住</a>
          <a href="#">预订客房</a>
          <a href="#">登记退房</a>
        </div>
        <div class="left-bottom">
          <a href="#">生成财务报表</a>
        </div>
      </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
            <div class="ui grid">
                    <div class="four wide column"></div>
                    <div class="eight wide column">
                      <form class="ui form segment" method="post">
                        <div class="field required">
                          <label>房间号</label>
                          <input placeholder="房间号" type="number" name="roomnumber">
                        </div>
                        <div class="field required">
                            <label>房间类型</label>
                            <select>
                                <option value="single">单人房</option>
                                <option value="double">双人房</option>
                                <option value="big">大床房</option>
                              </select>
                          </div>
                        <input type="submit" class="ui button fluid" value="查询">
                      </form>  
                    </div>
                  </div>
          </div>
    <!--   左侧边样 start  -->
        <div class="left-side">
          <div class="left-aside">
            <div class="left-img">
            </div>
           </div>
        </div>
    <!--  左侧边栏 end  -->
    <!--  右侧边栏    -->
        <div class="right-side">
          <footer>
              <div class="footer-l">
                <div class="result">查询结果</div>
                <table id="searchroom">
                <tr>
                  <td>房间号</td>
                  <td>房间类型</td>
                  <td>操作</td>
                  <td>门市价</td>
                  <td>会员价</td>
                  <td>积分</td>
                  <td>房间状态</td>
                  <td>备注</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="#">登记入住/</a>
                    <a href="#">退房退房/</a>
                    <a href="#">预定客房</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="alt">
                    <td></td>
                    <td></td>
                    <td>
                      <a href="#">登记入住/</a>
                      <a href="#">退房退房/</a>
                      <a href="#">预定客房</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td>
                        <a href="#">登记入住/</a>
                        <a href="#">退房退房/</a>
                        <a href="#">预定客房</a>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                </table>
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footer') %>


