<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <nav class="left-nav">
      <div class="left-top">
          <div class="icon_pic"><img src="/img/return.png" width="38" height="38" /></div>
          <a href="/manage">回到首页</a>
          <div class="icon_pic"><img src="/img/manage.png" width="38" height="38" /></div>
          <a href="/manageroom">管理客房</a>
          <div class="icon_pic"><img src="/img/cus_info.png" width="38" height="38" /></div>
          <a href="/searchcus">查询会员</a>
          <div class="icon_pic"><img src="/img/dengji.png" width="38" height="38" /></div>
          <a href="/checkin">登记入住</a>
          <div class="icon_pic"><img src="/img/yuding.png" width="38" height="38" /></div>
          <a href="/bookroom">预订客房</a>
          <div class="icon_pic"><img src="/img/tuifang.png" width="38" height="38" /></div>
          <a href="/checkout">登记退房</a>
          <div class="icon_pic"><img src="/img/pandian.png" width="38" height="38" /></div>
          <a href="/balance">盘点结算</a>
          <div class="icon_pic"><img src="/img/money.png" width="38" height="38" /></div>
          <a href="/finance">生成报表</a>
      </div>
    </nav>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
        <div class="ui grid">
          <div class="four wide column"></div>
            <div class="eight wide column">
              <form class="ui form segment" method="post">
                <div class="field required">
                  <label>身份证号</label>
                  <input placeholder="身份证号" type="text" name="id">
                </div>
                <input type="submit" class="ui button fluid" value="查询">


                <div class="cus_info"><h2>会员信息</h2></div>
                      <div class="field required">
                        <label>身份证号</label>
                        <input placeholder="身份证号" type="text" name="idcard">
                      </div>
                      <div class="field required">
                        <label>姓名</label>
                        <input placeholder="姓名" type="text" name="name">
                      </div>
                      <div class="field required">
                        <label>电话</label>
                        <input placeholder="电话" type="text" name="phone">
                      </div>
                      <div class="field required">
                        <label>积分</label>
                        <input placeholder="积分" type="text" name="score">
                      </div>
                    </form>
              </div>
            </div>
          </div>

         
      </div>
  
      

          
          
            

    
    </div>
<%- include('footer') %>
