<%- include('header') %>
<div class="wrapper">
    <!--  左边导航栏start  -->
    <%- include('left-nav') %>
    <!--  左边导航栏end  -->
    <!--  主要内容区start  -->
      <div class="main">
        <div class="ui grid">
          <div class="four wide column"></div>
          <div class="caozuo"><h2>修改房价</h2></div>
            <div class="content">
              <form class="ui form segment" method="post" id = "myFrm">
              <div class="field required">
                <label>起始时间</label>
                <input placeholder="起始时间（格式：YYYYMMDD）" type="text" name="starttime">
              </div>
              <div class="field required">
                <label>结束时间</label>
                <input placeholder="结束时间（格式：YYYYMMDD）" type="text" name="endtime">
              </div>
              <div class="field required">
                <label>房间类型</label>
                <input placeholder="房间类型" type="text" name="roomtype">
              </div>
              <div class="field required">
                <label>房间价格</label>
                <input placeholder="房间价格" type="text" name="roomvalue">
              </div>
              <div class="field required">
                <label>管理员码</label>
                <input placeholder="管理员码" type="password" name="mapassword">
              </div>
              <input type="submit" class="ui button fluid" value="修改">
            </form>
          </div>
        </div>

    <!--  右侧边栏    -->
        <div class="right-side">
            <footer>
              <div class="footer-l">
              </div>
            </footer>
        </div>
      </div>
    </div>
<%- include('footermr') %>
