body {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
  }
  
  a:hover {
    border-bottom: 3px solid #4fc08d;
  }
  
  .button {
    background-color: #4fc08d !important;
    color: #fff !important;
  }
  
  .avatar {
    border-radius: 3px;
    width: 48px;
    height: 48px;
    float: right;
  }
  
  /* ---------- nav ---------- */
  
  .nav {
    margin-bottom: 20px;
    color: #999;
    text-align: center;
  }
  
  .nav h1 {
    color: #4fc08d;
    display: inline-block;
    margin: 10px 0;
  }

  .nav-image {
    background: url(https://image.flaticon.com/icons/svg/34/34914.svg);
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 429px;
  }
  
  /* ---------- nav-setting ---------- */
  
  .nav-setting {
    position: fixed;
    right: 30px;
    top: 35px;
    z-index: 999;
  }
  
  .nav-setting .ui.dropdown.button {
    padding: 10px 10px 0 10px;
    background-color: #fff !important;
  }
  
  .nav-setting .icon.bars {
    color: #000;
    font-size: 18px;
  }
  
  /* ---------- post-content ---------- */
  
  .post-content h3 a {
    color: #4fc08d !important;
  }
  
  .post-content .tag {
    font-size: 13px;
    margin-right: 5px;
    color: #999;
  }
  
  .post-content .tag.right {
    float: right;
    margin-right: 0;
  }
  
  .post-content .tag.right a {
    color: #999;
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size:14px;
    font-family: Arial;
  }
  /* .wrapper {
    width: inherit;
  } */
  
  /* 登录模块 */
  .user-login {
    position: fixed;
    top: 0;
    right: 0;
    
  /*   width: 150px; */
    height: 50px;
    
  /*   border:1px solid; */
    z-index:99;
  }
  
  .fa:before {
    content:"\25BA";
  }
  .user-login a {
    float: right;
    padding:0 5px;
    
    line-height: 50px;
    text-decoration: none;
    color: #555555;
     
  }
  
  .user-login a:hover {
    color: black;
  }
  
  
  /* 左边导行栏 */
  .left-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    width: 120px;
    background-color:white;
  /*   border:1px solid; */
   
  }
  
  .left-top { 
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#eaf7f1;
    border: turquoise;
    border-radius: 20px;
  }
  
  .left-top-img {
    background: url(https://www.flaticon.com/premium-icon/icons/png/512/227/227720.png);
    background-size:120px 120px;
    background-color: white;
    margin-bottom: 10px;
    height: 120px;
    width: 120px;
  }
  .left-top a {
    float: left;
    padding:10px 10px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size:1.2em;
  }
  
  .left-top a:first-child:hover {
    background: #e78170;
    border-radius: 20px;
  }
  
  .left-top a:hover {
    background-color: #e78170;
    border-radius: 20px;
  } 
  
  .left-bottom {
    position: absolute;
    float: left;
    left: 0;
    bottom:0;
    width: 100%;
  /*   background: #000; */
  }
  
  .left-bottom a {
    float: left;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size:1.2em;
    font-weight: bold;
    background-color:#eaf7f1;
    color: green;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  
  .left-bottom a:hover {
    background-color: #e78170;
  }
  
  /* 主要内容区 */
  .main { 
    float: left;
    width: 100%;
  
  /*   height: 1000px; */
    
  /*   border:3px solid red; */
  }
  
  /* 左侧边栏 */
  .left-side {
    float: left;
    position: relative;
    margin-left: 44px;
    width: 25%;
    height: 100%;
  }
  
  .left-aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45px;
    width: 25%;
  }
  .left-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://upload.jianshu.io/daily_images/images/4chtQtw51M7QAfodS4xd.jpg) no-repeat;
    background-position:center;
    background-size:cover;
  }
  
  .bottom-block {
    position: absolute;
  /*   width: 100%; */
    padding-left: 10px;
    height: 200px;
    bottom: 0;
    
    color:white;
    line-height: 2; 
  }
  
  .bottom-block a {
    display:inline-block;
    margin-top: 10px;
    padding:10px 30px;
    background: #49be38;
    color:white;
    text-decoration: none;
    border-radius:5px;
  }
  /* 右边边栏 */
  .right-side {
    float: left;
    padding-left: 12px;
    margin-left: 25%;
    position: relative;
    width: 58%;
  
  }
  
  /* 顶部导航 */
  .top-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background: white;
  /*   border:1px solid red; */
  }
  
  .main-nav {
    width: 50%;
    height: 50px;
  /*   background: #000; */
    border-bottom:2px solid lightgray;
  }
  
  .main-nav li {
    float: left;
    list-style:none;
  /*   background: #000; */
  }
  
  .main-nav li:last-child {
    float: right;
    
  }
  
  .main-nav a {
    display:block;
    margin-left: 10px;
    padding:0 10px;
    line-height: 50px;
    text-decoration: none;
    color:black;
  }
  
  .main-nav ul li:first-child a {
    border-bottom:2px solid;
  }
  
  .main-nav ul li:nth-child(2) a {
    color:gray;
  }
  
  .main-nav a:hover {
    background: lightgray;;
  }
  
  
  .search {
   margin-top: 8px;
   padding:8px 10px;
   border:1px solid lightgray;
   border-radius:20px;
   box-shadow: 0px 0px 1px inset
    
  }
  
  .search input {
    border:none;
  }
  
  .content {
    width: 100%;
  /*   height: 700px; */
  /*   margin-top: 50px; */
  /*   border:1px solid yellow; */
  }
  
  /* 标记列表 */
  .list-container .tags {
    padding-left: 30px;
    margin-top: 50px;
    list-style:none;
    overflow: hidden;
  /*   background: #000; */
    
  }
  
  .tags li {
    float: left;
  /*   background: #000; */
  }
  
  .tags li a {
    display:block;
    padding:5px 10px;
    margin: 5px 10px;
    border:1px solid lightgray;
    border-radius:13px;
    color:black;
    text-decoration: none;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  
  .tags li:first-child a {
    background: tomato;
    border:none;
  }
  
  /*文章列表 */
  .section li {
    list-style:none;
  }
  .section .artical   {
    margin-left: 30px;
    border-top:1px dashed lightgray;
  
    
  }
  
  .wrap-img {
    float: right;
    width: 100px;
    height: 100px;
    margin:10px;
  /*   vertical-align: middle; */
      background: #000;
  }
  .wrap-img img {
    width: 100%;
    height: 100px;
    vertical-align: middle;
  }
  
  .artical>div {
   margin:20px 110px 20px;
  /*   background: #000; */
  }
  .list-top {
    padding: 10px;
  }
  
  .author-name {
    text-decoration: none;
  
  }
  .blue-link {
    color: #4094c7;
  }
  
  time {
    color:gray;
  }
  
  .title {
     font-size:18px;
  }
  .title a {
    padding: 5px 10px;
    line-height: 1.5;
    text-decoration: none;
    color:black;
    
  }
  
  .list-footer {
    padding:10px;
    color:gray;
  }
  .list-footer a {
    text-decoration: none;
    color:gray;
  }
  
  .loadmore {
    margin-bottom: 30px;
    text-align: center;
  /*   background: #000; */
  }
  
  .loadmore-btn {
    padding:20px;
    background: #e78170;
    color:white;
    font-size:18px;
    border:none;
    border-radius:5px;
  }
  
  
  footer {
    width: 100%;
    height: 100px;
    padding-left:10px;
  }
  
  footer p {
    padding: 5px;
    line-height: 1.5;
    color:gray;
  }

/* 对查询结果的样式进行设计 */
  .footer-l {
    padding-top: 60px;
    width: 900px;
    height: 200px;
    margin-left:-200px;
    margin-top: 30px;
    border-top-style: outset;
    border-bottom-style: outset;
  }

  .footer-2 {
    padding-top: 50px;
    width: 900px;
    height: 160px;
    margin-left:-200px;
    margin-top: 40px;
    border-top-style: outset;
    border-bottom-style: outset;
  }

  #searchroom, #searchcus {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:80%;
    height: 70%;
    border-collapse:collapse;
    border-radius:5px;
    margin-left: 50px;
    margin-top: 10px;
  }

#searchroom td, #searchcus td,#searchroom th,  #searchcus th 
  {
  font-size:1.1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
  text-align: center;
  }

#searchroom th, #searchcus th 
  {
  font-size:1.2em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  }

#searchroom tr.alt td , #searchcus tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }

.result {
  margin-left: 100px;
  color: black;
  font-size: 2em;
  margin-top: -25px;
  padding-bottom: 10px;
}
